---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
splash: 
  src: /img/splash.jpg
  alt: splash of me and a sunset
---

<h1>Latest Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
